<div class="container">
    <button type="button" (click)="getStudents()"> get data</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>StudentId</th>&nbsp;&nbsp;
            <th>CourseId</th>&nbsp;&nbsp;
            <th>StudentFirstName</th>&nbsp;&nbsp;
            <th>StudentSurName</th>&nbsp;&nbsp;
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of course">
            <td>{{c.student.studentId}}</td>&nbsp;&nbsp;
            <td><a [routerLink]="['/coursedetails',c.courseId]">{{c.courseId}}</a></td>&nbsp;&nbsp;
            <td>{{c.student.studentFirstName}}</td>&nbsp;&nbsp;
            <td>{{c.student.studentSurName}}</td>&nbsp;&nbsp;
            <td>{{c.student.gender}}</td>
           
        </tr>
    </tbody>

</table>

</div>